

.post {
    /* Стили статьи */
    color: blue;
  }
  
  .post-title {
    /* Стили заголовка */
color: aqua;
  }
  
  .post-text {
    /* Стили текста */
color: brown;
  }
  
  .post-link {
    /* Стили ссылки */
color: darkmagenta;
  }
  
  .post-link:hover {
    /* Стили ссылки при ховере */
color: rgb(238, 15, 15);
  }